*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 12% 16% 0px 16%;
    background-color: rgb(230, 230, 230);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar */

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100;
    align-items: center;
    z-index: 1000;
    display: flex;
    padding: 24px;
    padding-bottom: 20px;
    background-image: url(../asset/BG.png);
    background-size: cover;
}
.brand{
    display: flex;
    color: white;
    padding-left: 70px;
}
nav .judul {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    
}
nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin-left: auto;
    margin-right: 100px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    padding-bottom: 10px;
}
nav ul li a:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
}
/* navbar end */


/* input data */
.form-element{
    margin-top: 14px;
    flex-grow: 1;
}
.form .form-element input[type="text"]{
    display: block;
    width: 100%;
    padding: 14px;
    outline: none;
    border:  solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
}

.form .form-element input[type="text"]::placeholder{
    font-weight: bold;
    color: black;
}

.inpt1{
    display: flex;
    gap: 1rem;
}
/* end */


/* dropdown kategori sampah */
.dropdown-kategori button{
    background-color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    padding: 14px;
    margin-top: 14px;
    width: 100%;
    text-align: justify;
}
.dropdown-kategori a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    text-align: justify;
}
.dropdown-kategori .content-kategori{
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0% 0.8);
    display: none;
    width: 68%;
    border-radius: 10px;
}
.dropdown-kategori:hover .content-kategori{
    display: block;
}
.dropdown-kategori:hover button{
    background-color: #23489E;
    color: white;
}
.dropdown-kategori a:hover{
    background-color: hsl(0, 0%, 90%);
}
/* end */


/* button */
.btn1{
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 14px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    width: 14%;
}
.btn2{
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 14px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    width: 14%;
}
.btn-container {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
}
.btn1:hover{
    background-color: #00b06f; /* Green */
    color: white;
}
.btn2:hover{
    background-color: #e60000a8; /* Green */
    color: white;
}

/* end */